
<div class="gap-20 masonry pos-r">
  <div class="masonry-sizer col-md-6"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20">
        <h4 class="c-grey-900 mB-20">Результат проверки {{ Модель.Цель }} от {{ Модель.Дата}}</h4>
        <div class="mT-30">
            <b>Всего замечаний:</b> {{Модель.Количество}}<br>
            <b>Тех. долг:</b> {{Модель.ВремяТехДолга}} (мин.)
        </div>
      </div>
    </div>
  </div>
  
  {% Если ТипЗнч(Модель.Замечания) = Тип("Структура") Тогда %}

    <div class="row" id="monaco-files">
      <div class="col-md-12">
        <h4 class="c-grey-900">Файлы с замечаниями</h4>
        <table class="table">
          <tr>
            <td>
              <table class="table table-hover table-header">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Имя файла</th>
                    <th class="text-end">Всего замечаний</th>
                    <th class="text-end">Тех.долг (мин.)</th>
                  </tr>
                </thead>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div class="list-files">
                <table class="table table-hover table-rows">
                  <tbody>
                    {%Счетчик = 1;
                      Для Каждого Замечание из Модель.Замечания.ЗамечанияПоФайлам Цикл %}
                    <tr>
                      <th>{{ Счетчик }}</th>
                      <td class="checked-file" data-file="{{ Замечание.name }}">{{ Замечание.name }}</td>
                      <td>{{ Замечание.count }}</td>
                      <td>{{ Замечание.time }}</td>
                    </tr>
                    {% Счетчик = Счетчик + 1;
                    КонецЦикла; %}
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </div>
      {{ Модель.Замечания.СкриптИнициализации }}
      <nav class="invisible">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>

    <div class="row invisible" id="monaco-editor">
      <div class="col-md-12">
        <div id="container" style="height: 100%"></div>
        <div id="display">
            <div id="display-header">
                <div id="display-title"></div>
                <div id="display-close"></div>
            </div>
            <div id="variables-display">
                <div id="variables-tree"></div>
            </div>
        </div>
      </div>
    </div>

  {% Иначе; %}

    {% Для Каждого Замечание из Модель.Замечания Цикл %}
    <div class="masonry-item">
      <div class="bgc-white p-20 bd">
        <h6 class="c-grey-900">({{ Замечание.Критичность }}) {{ Замечание.Тип }}</h6>
        <div class="mT-30">
          <form>
            <div class="row">
              <div class="mb-3 col-md-4">
                <b>Правило:</b> {{Замечание.Правило}}<br>
                <b>Описание:</b> {{Замечание.Текст}}<br>
                <b>Время на исправление:</b> {{Замечание.ВремяИсправления}} (мин.)<br>
              </div>
              <div class="mb-3 col-md-8">
                <b>Места</b><br><br>
                {% Для Каждого Место из Замечание.МестаИспользования Цикл %}
                <div>
                  <b>Объект:</b> {{Место.Файл}}<br> 
                  <b>Строка:</b> {{Место.СтрокаНачало}}<br>
                  <b>Код:</b><br> 
                  <div>
                    <pre><code>{{СокрЛП(Место.Код)}}</code></pre>
                  </div>
                </div>
                {% КонецЦикла; %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% КонецЦикла; %}

  {% КонецЕсли; %}

</div>