<div id="loading" class="htmx-indicator d-flex align-items-center">
  <strong>Загрузка...</strong>
  <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
</div>
{% Описание = Модель.Описание; %}
<div class="bgc-white p-20 bd">
  <h6 class="c-grey-900">{{Описание.Описание}}</h6>
  <div class="mT-30">
    
    <b>Каталог:</b> {{Описание.КаталогИсходников}}<br><br>
    <b>Конфигурация:</b> {{Описание.Имя}}<br><br>
    <b>Описание:</b> {{Описание.Описание}}<br><br>
    <b>Версия:</b> {{Описание.Версия}}<br><br>
    <b>Поставщик:</b> {{Описание.Поставщик}}
  </div>
</div>
<br>
<button hx-post="/cmd/CompileFromFile/{{Модель.Цель}}" hx-swap="none" type="button" class="btn cur-p btn-outline-primary" >Загрузить из файлов</button>
<button hx-post="/cmd/DecompileToFile/{{Модель.Цель}}" hx-swap="none" type="button" class="btn cur-p btn-outline-primary">Выгрузить в файлы</button>
<button hx-post="/cmd/Analize/{{Модель.Цель}}" hx-swap="none" type="button" class="btn cur-p btn-outline-primary">Анализ bsl ls</button>
{% Если Модель.ИспользоватьРедакторМонако И 0 < Модель.КоличествоИзменений Тогда %}
  <button hx-post="/diff/view/{{Модель.Цель}}" hx-indicator="#loading" hx-target="#mainContent" hx-swap="innerHTML" type="button" class="btn cur-p btn-outline-primary">
    Показать изменения <span class="badge text-bg-secondary">{{Модель.КоличествоИзменений}}</span>
  </button>
{% КонецЕсли; %}
