<div class="row">
    <div class="col-md-12">
      <div class="bgc-white bd bdrs-3 p-20">
        <h4 class="c-grey-900 mB-20">История выполнения тестов</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Статус</th>
              <th scope="col">Дата</th>
              <th scope="col">Вид теста</th>
              <th scope="col">Количество</th>
              <th scope="col">Успешно</th>
              <th scope="col">Время (сек.)</th>
            </tr>
          </thead>
          <tbody>
            {%Счетчик = 1;
              Для Каждого СтрокаРезультат из Модель.ТаблицаРезультатов Цикл %}
            <tr hx-post="/tests/result/{{ СтрокаРезультат.Идентификатор }}" hx-target="#mainContent" hx-swap="innerHTML">
              <th scope="row">{{ Счетчик }}</th>
              <td>
                <span class="icon-holder"></span>
                  <i class="{{?(СтрокаРезультат.Успешно, "c-green-500 ti-check", "c-red-500 ti-close" )}}"></i>
                </span>
              </td>
              <td>{{ СтрокаРезультат.Дата }}</td>
              <td>{{ СтрокаРезультат.ВидТестов }}</td>
              <td>{{ СтрокаРезультат.Результаты.Количество() }}</td>
              <td>{{ СтрокаРезультат.Результаты.Итог("Успешно") }}</td>
              <td>{{ СтрокаРезультат.Результаты.Итог("Время") }}</td>
            </tr>
            {% Счетчик = Счетчик + 1;
            КонецЦикла; %}
          </tbody>
        </table>
      </div>
    </div>
  </div>