
<div class="bgc-white p-20 bd">
  <h6 class="c-grey-900">Тесты</h6>
  <div class="mT-30">
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Вид</th>
        </tr>
      </thead>
      <tbody>
        {%Счетчик = 1;
          Для Каждого Адаптер из Модель.Адаптеры Цикл %}
        <tr hx-post="{{ Адаптер.Ссылка }}" hx-target="#mainContent" hx-swap="innerHTML">
          <th scope="row">{{ Счетчик }}</th>
          <td>{{ Адаптер.Представление }}</td>
        </tr>
        {% Счетчик = Счетчик + 1;
        КонецЦикла; %}
      </tbody>
    </table>

  </div>
</div>